<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>数据管理平台</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/dashboard/">



    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="/css/dataManage.css" rel="stylesheet">
    <link href="/css/tabler-flags.min.css" rel="stylesheet" />
    <link href="/css/tabler-payments.min.css" rel="stylesheet" />
    <link href="/css/tabler-vendors.min.css" rel="stylesheet" />
    <link href="/css/demo.min.css" rel="stylesheet" />
    <link href="/css/tabler.min.css" rel="stylesheet" />

</head>

<body>

    <div class="container">
        <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap" />
                </svg>
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-secondary">主页</a></li>
                <li><a href="/data/dataManage" class="nav-link px-2 link-dark">音频数据</a></li>
            </ul>

            <!-- <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2"
          onclick="window.location.href='/user/login'">登录</button>
        <button type="button" class="btn btn-primary">登出</button>
      </div> -->
            <% if(useraccount) { %>
                <div class="col-md-3 text-end">
                    <button type="button" class="btn btn-outline-primary me-2"
                        onclick="window.location.href='/user/personalInfo'">个人中心</button>
                    <a class="btn btn-outline-primary me-2" href="/user/logout"
                        onclick="return confirm('确定退出吗?')">退出登录</a>
                </div>
                <% } else{ %>
                    <div class="col-md-3 text-end">
                        <% if(!useraccount) { %>
                            <button type="button" class="btn btn-outline-primary me-2"
                                onclick="window.location.href='/user/login'">登录</button>
                            <button type="button" class="btn btn-outline-primary me-2"
                                onclick="window.location.href='/user/register'">注册</button>
                            <% } %>
                    </div>
                    <% } %>
        </header>
    </div>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">

                <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <svg class="bi me-2" width="30" height="24">
                        <use xlink:href="#bootstrap" />
                    </svg>
                    <span class="fs-5 fw-semibold">数据管理平台</span>
                </a>

                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#home-collapse" aria-expanded="true">
                            数据集
                        </button>
                        <div class="collapse show" id="home-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">VoiceBANK</a></li>
                                <li><a href="#" class="link-dark rounded">Librispeech</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
                </a>


            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">竞品A数据集</h1>
                    <!-- <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This week
                        </button>
                    </div> -->
                </div>

                <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->
                <!-- 基本数据展示 -->
                <div class="row justify-content-center" style="margin-bottom: 10px;">
                    <!-- 共完成 -->
                    <div class="col-lg-3">
                        <div class="card top-card">
                            <div class="card-header" style="background-color: #55595c; ">
                                <div class="top-card-title">
                                    总条数
                                </div>
                            </div>
                            <div class="card-body" style="text-align:center">
                                <span>
                                    <span style="font-size: 40px; color: #008FFB; font-weight: 400;">
                                        1192
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- 今日已完成 -->
                    <div class="col-lg-3">
                        <div class="card top-card">
                            <div class="card-header" style="background-color: #55595c; ">
                                <div class="top-card-title">
                                    总测评次数
                                </div>
                            </div>
                            <div class="card-body" style="text-align:center">
                                <span>
                                    <span style="font-size: 40px; color: #008FFB; font-weight: 400;">
                                        1121
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <div id="chart-completion-tasks-2"></div>
                        </div>
                    </div>
                </div>

                <div style="margin: 15px;">
                    <h2>数据列表</h2>
                </div>

                <div class="row">
                    <div class="container-xl">
                        <div class="card">
                            <div class="card-body">
                                <div id="table-default" class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th><button class="table-sort" data-sort="sort-id">ID</button></th>
                                                <th><button class="table-sort" data-sort="sort-name">文件名</button></th>
                                                <th><button class="table-sort" data-sort="sort-num">总测评次数</button></th>
                                                <th><button class="table-sort" data-sort="sort-index1">语言连续度</button>
                                                </th>
                                                <th><button class="table-sort" data-sort="sort-index2">语音清晰度</button>
                                                </th>
                                                <th><button class="table-sort" data-sort="sort-index3">语音失真度</button>
                                                </th>
                                                <th><button class="table-sort" data-sort="sort-index4">背景噪音消除效果</button>
                                                </th>
                                                <th><button class="table-sort" data-sort="sort-index5">回声消除效果</button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-tbody">
                                            <script>
                                                var record_data = [
                                                    {
                                                        "index1": 1,
                                                        "index2": 1,
                                                        "index3": 1,
                                                        "index4": 0,
                                                        "index5": 0,
                                                        "evalnum": 20,
                                                        "dataname": "1 copy.wav"
                                                    },
                                                    {
                                                        "index1": 0,
                                                        "index2": 0,
                                                        "index3": 0,
                                                        "index4": 4.5,
                                                        "index5": 0,
                                                        "evalnum": 100,
                                                        "dataname": "1 copy 3.wav"
                                                    },
                                                    {
                                                        "index1": 1,
                                                        "index2": 3,
                                                        "index3": 4,
                                                        "index4": 4.5,
                                                        "index5": 2,
                                                        "evalnum": 10,
                                                        "dataname": "1.wav"
                                                    }
                                                ]
                                                var list_str = '';
                                                var index = 1;

                                                record_data.forEach(item => {
                                                    list_str += `
                                                    <tr>
                                                        <td class="sort-id">${index}</td>
                                                        <td class="sort-name"><a href="/data/dataManageDetail">${item.dataname}</a></td>
                                                        <td class="sort-num">${item.evalnum}</td>
                                                        <td class="sort-index1">${item.index1}</td>
                                                        <td class="sort-index2">${item.index2}</td>
                                                        <td class="sort-index3">${item.index3}</td>
                                                        <td class="sort-index4">${item.index4}</td>
                                                        <td class="sort-index5">${item.index5}</td>
                                                    </tr>
                                                     `
                                                    index += 1
                                                })
                                                document.write(list_str)
                                            </script>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>


    <script src="./js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
        crossorigin="anonymous"></script>
    <script src="./js/dataManage.js"></script>

    <!-- Libs JS -->
    <script src="/js/list.min.js" defer></script>
    <script src="/js/apexcharts.min.js"></script>
    <!-- Tabler Core -->
    <script src="/js/tabler.min.js" defer></script>
    <script src="/js/demo.min.js" defer></script>

    <script>
        // @formatter:off
        document.addEventListener("DOMContentLoaded", function () {
            window.ApexCharts && (new ApexCharts(document.getElementById('chart-completion-tasks-2'), {
                chart: {
                    type: "line",
                    fontFamily: 'inherit',
                    height: 240,
                    parentHeightOffset: 0,
                    toolbar: {
                        show: false,
                    },
                    animations: {
                        enabled: false
                    },
                },
                fill: {
                    opacity: 1,
                },
                stroke: {
                    width: 2,
                    lineCap: "round",
                    curve: "smooth",
                },
                series: [{
                    name: "Tasks completion",
                    data: [155, 65, 465, 265, 225, 325, 80]
                }],
                grid: {
                    padding: {
                        top: -20,
                        right: 0,
                        left: -4,
                        bottom: -4
                    },
                    strokeDashArray: 4,
                },
                xaxis: {
                    labels: {
                        padding: 0,
                    },
                    tooltip: {
                        enabled: false
                    },
                    type: 'datetime',
                },
                yaxis: {
                    labels: {
                        padding: 4
                    },
                },
                labels: [
                    '2020-06-20', '2020-06-21', '2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-26'
                ],
                // colors: [tabler.getColor("primary")],
                legend: {
                    show: false,
                },
            })).render();
        });
      // @formatter:on
    </script>

        <!-- 表格排序 -->
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const list = new List('table-default', {
                    sortClass: 'table-sort',
                    listClass: 'table-tbody',
                    valueNames: ['sort-id', 'sort-name', 'sort-num', 'sort-index1', 'sort-index2', 'sort-index3', 'sort-index4', 'sort-index5',
                        
                    ]
                });
            })
        </script>
</body>

</html>