<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">

  <title>主观听测平台主页</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .audio-player {
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: 50px;
    }

    .btn-group-oneline {
      margin-bottom: 10px;
    }

    .btn-group-label {
      margin-left: 30px;
      margin-right: 20px;
      margin-bottom: 10px;
    }

    .note {
      margin-left: 50px;
      margin-top: 10px;
    }

    .cepingline {
      margin-top: 10px;
    }


    .header-title :hover{
      background-color: lightgray;
    }
  </style>


</head>

<body>
  <!-- <header style="margin-top:30px; margin-bottom: 30px;">
    <div class="container">
      <div class="row  justify-content-center align-items-center">
        <div class="col-lg-3">
          <h1 class="fw-light">
            主观听测平台
          </h1>
        </div>
        <div class="col-lg-6">
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center" >
            <li><a href="/" class="nav-link link-dark header-title"><h4>主页</h4>
            </a></li>
            <li><a href="/data/dataManage" class="nav-link header-title link-secondary"><h4>音频数据</h4></a></li>
          </ul>
        </div>

        <% if(useraccount) { %>
          <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2"
              onclick="window.location.href='/user/personalInfo'">个人中心</button>
            <a class="btn btn-outline-primary me-2" href="/user/logout" onclick="return confirm('确定退出吗?')">退出登录</a>
          </div>
          <% } else{ %>
            <div class="col-md-3 text-end">
              <% if(!useraccount) { %>
                <button type="button" class="btn btn-outline-primary me-2"
                  onclick="window.location.href='/user/login'">登录</button>
                <button type="button" class="btn btn-outline-primary me-2"
                  onclick="window.location.href='/user/register'">注册</button>
                <% } %>
            </div>
            <% } %>
      </div>
    </div>

    <HR style= " FILTER: alpha (opacity = 100, finishopacity =0 , style= 3 )" width ="100%" color =#987 cb 9 SIZE = 3>


  </header> -->


  <div class="container">
    <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 link-secondary">主页</a></li>
          <li><a href="/data/dataManage" class="nav-link px-2 link-dark">音频数据</a></li>
        </ul>


      <% if(useraccount) { %>
        <div class="col-md-3 text-end">
          <button type="button" class="btn btn-outline-primary me-2"
            onclick="window.location.href='/user/personalInfo'">个人中心</button>
          <a class="btn btn-outline-primary me-2" href="/user/logout" onclick="return confirm('确定退出吗?')">退出登录</a>
        </div>
        <% } else{ %>
          <div class="col-md-3 text-end">
            <% if(!useraccount) { %>
              <button type="button" class="btn btn-outline-primary me-2"
                onclick="window.location.href='/user/login'">登录</button>
              <button type="button" class="btn btn-outline-primary me-2"
                onclick="window.location.href='/user/register'">注册</button>
              <% } %>
          </div>
          <% } %>
    </header>
</div> 
<main>
  <div class="text-center container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h2 class="fw-light">主观听测平台</h1>
          <p class="lead text-muted">点击下方语音播放，根据语音质量评分（1~5分），简要描述对该语音的评价，完成后点击提交</p>

      </div>
    </div>
  </div>

    <div class="container" style="margin-bottom:50px;">
      <!-- 打分块 -->
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-4 col-sm-1 col-sx-1 align-self-center"
          style="background-color: #55595c; padding: 20px;">

          <!--#55595c -->
          <div class="row">
            <script>
              var dataname = '<%= dataname %>'
            </script>
            <div class="row justify-content-center">
              <div class="col-12 text-white" style="margin-bottom: 10px;">
              文件名称：<%= dataname %>
              </div>
            </div>

            <div class="row">
            <!-- 音频文件在这儿渲染 -->
              <audio src="<%= datapath %>" controls="controls"></audio>
            </div>
          </div>

          <!-- 一组评分 -->
          <form method="post" action="/"
            style="background-color: white; border-radius: 4%; padding: 5px; margin-top: 10px;">
            <div id="cepingbox">

              <!-- 对指标数组循环 -->
              <script type="text/javascript">
                var ceping_arr = ['语言连续度', '语音清晰度', '语音失真度', '背景噪音消除效果', '回声消除效果'];
                var name_arr = ['index1', 'index2', 'index3', 'index4', 'index5']
                var list_str = '';
                var index = 0;
                ceping_arr.forEach(item => {
                  list_str += `
                  <div class="row justify-content-center cepingline" >
                    <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                      <text class="btn-group-label">${item}</text>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-4" >
                        <input style="width: 50px;" type="number" name=${name_arr[index]} id="" value=0>
                        </div>
                      </div>
                  `
                  index += 1;
                })
                document.write(list_str);
              </script>
            </div>

            <div class="row justify-content-center" style="margin-top: 20px;">
              <div class="col-lg-10 col-md-11 col-11 align-self-center">
                <textarea name="comment" id="" style="width: 100%;" rows="3" placeholder="请简要输入对该语音的评价"></textarea>
              </div>
            </div>

            <div class="row justify-content-end" style="margin-top: 10px;">
              <div class="col-lg-3 col-md-3 col-3">
                <button type="submit" name="submitRate" class="btn btn-default text-white"
                  style="background-color: #55595c;">提交</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
    <div class="text-center container">
      <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h2 class="fw-light">评价指标介绍</h1>

        </div>
      </div>
    </div>

    <div class="container-xl">
      <div class="row row-cards">
        <div class="col-xl-12">
          <div class="card">
            <div class="table-responsive">
              <table class="table table-vcenter card-table table-striped">
                <thead>
                  <tr>
                    <th>指标</th>
                    <th>得分</th>
                    <th>描述</th>
                    <th class="w-1"></th>
                  </tr>
                </thead>

                <!-- 循环创建表格 -->
                <tbody>
                  <script type="text/javascript">
                    var ceping_arr = ['语言连续度', '语音清晰度', '语音失真度', '背景噪音消除效果', '回声消除效果'];
                    var score_des_arr = ['音频主观效果非常差，体验过程中存在非常大的问题，用户非常反感，不想继续使用。',
                      '音频主观效果较差，体验过程中存在较大问题，用户感觉不舒服，已经影响正常使用；',
                      '音频主观效果一般，体验过程存在轻微问题，用户可以接受，不会影响用户使用：',
                      '音频主观效果比较好，体验过程中声音非常清晰，无明显问题，需仔细聆听才可以发现，用户整体听感比较舒服；',
                      '音频主观效果非常好，体验过程中声音非常清晰，无任何问题，用户整体听感非常舒服；']
                    var ceping_des_arr = ['(评价语音是否有丢失)', '(评价语音内容是否能听清)', '(评价语音听感是否失真)',
                      '(评价噪声是否消除干净，残留程度)', '(评价是否能听到回声，以及回声的大小)']
                    var audio_arr = []
                    var list_str = '';
                    var group_index = 0;
                    var index = 0;
                    ceping_arr.forEach(item => {
                      // 第一行和第二行特殊处理，因为含有指标名称
                      list_str += `
                      <tr style="border-top-width: 3px;">
                        <td>${item}</td>
                        <td class="text-muted">
                          1
                        </td>
                        <td class="text-muted">
                            ${score_des_arr[0]}
                        </td>
                        <td>
                        <audio src="example\\1.wav" id="${"audio_" + index}"></audio>
                        <span style="width: 100%;text-align: center; color: blue;">
                          <span class="audio_text" style="cursor: pointer;" id="${"start_" + index}" onclick='play_audio("${index}")'>播放</span>
                        </span>
                      </td>
                      </tr>
                      `
                      index += 1

                      // 第二行
                      list_str += `
                        <tr>
                        <td class="text-muted">
                          ${ceping_des_arr[group_index]}
                        </td>
                        <td class="text-muted">
                          2
                        </td>
                        <td class="text-muted">
                          ${score_des_arr[1]}
                        </td>
                        <td>
                          <audio src="example\\1.wav" id="${"audio_" + index}"></audio>
                        <span style="width: 100%;text-align: center; color: blue;">
                          <span class="audio_text" style="cursor: pointer;" id="${"start_" + index}" onclick='play_audio("${index}")'>播放</span>
                        </span>
                        </td>
                      </tr >
                        `
                      index += 1

                      // 第三行到第五行
                      for (var i = 2; i <= 4; i++) {
                        list_str += `
                          <tr>
                          <td></td>
                          <td class="text-muted">
                            ${i + 1}
                          </td>
                          <td class="text-muted">
                            ${score_des_arr[i]}
                          </td>
                          <td>
                            <audio src="example\\1.wav" id="${"audio_" + index}"></audio>
                        <span style="width: 100%;text-align: center; color: blue;">
                          <span class="audio_text" style="cursor: pointer;" id="${"start_" + index}" onclick='play_audio("${index}")'>播放</span>
                        </span>
                          </td>
                        </tr >
                        `

                        index += 1
                      }

                      group_index += 1

                    })
                    console.log(list_str)
                    document.write(list_str)
                  </script>
                </tbody>


              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
  <footer>

  </footer>



  <script src="./js/index.js"></script>

  <!-- Libs JS -->
  <script src="./js/apexcharts.min.js" defer></script>
  <!-- Tabler Core -->
  <script src="./js/tabler.min.js" defer></script>
  <script src="./js/demo.min.js" defer></script>


  <script type="text/javascript">
    function play_audio(id) {


      // 如果当前音频未播放，播放音频，并修改为暂停
      var text = document.getElementById("start_" + id)
      if (text.innerHTML == "播放") {

        // 修改所有标签为播放
        for (let i = 0; i < 25; i++) {
          document.getElementById("start_" + i).innerHTML = "播放"
        }
        text.innerHTML = "暂停"

        // 除了当前音频外，暂停其他所有的
        let audios = document.getElementsByTagName('audio');
        for (let i = 0; i < audios.length; i++) {
          if (i !== id) {
            audios[i].pause();
          }
        }

        // 播放当前音频
        var audio_player = document.getElementById("audio_" + id)
        console.log(audio_player)
        audio_player.play()

      } else {
        text.innerHTML = "播放"

        var audio_player = document.getElementById("audio_" + id)
        console.log(audio_player)
        audio_player.pause()
      }

    }


  </script>



  </script>
</body>

</html>