<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.88.1">
  <title>Album example · Bootstrap v5.1</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">



  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .audio-player{
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left:50px;
      }

      .btn-group-oneline{
        margin-bottom: 10px;
      }

      .btn-group-label{
        margin-left: 30px;
        margin-right: 20px;
        margin-bottom: 10px;
      }

      .note{
        margin-left:50px;
        margin-top: 10px;
      }
  </style>


</head>

<body>

  <div class="container">
    <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">主页</a></li>
        <li><a href="/" class="nav-link px-2 link-dark">音频数据</a></li>
      </ul>

      <% if(useraccount) { %>
        <div class="col-md-3 text-end">
          <button type="button" class="btn btn-outline-primary me-2"
          onclick="window.location.href='/user/home'">个人中心</button>
          <a class="btn btn-outline-primary me-2" href="/user/logout" onclick="return confirm('确定退出吗?')">退出登录</a>
        </div>
    <% } else{ %>
      <div class="col-md-3 text-end">
        <% if(!useraccount) { %>
            <button type="button" class="btn btn-outline-primary me-2"
          onclick="window.location.href='/user/login'">登录</button>
            <button type="button" class="btn btn-outline-primary me-2"
          onclick="window.location.href='/user/register'">注册</button>
        <% } %>
      </div>
    <% } %>
    </header>
  </div>

  <main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">主观听测平台</h1>
          <p class="lead text-muted">点击下方语音播放，根据语音质量评分后提交</p>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


          <div class="col">
            <div class="card shadow-sm">
              <!-- 上半部分 -->
              <div style="background-color: #55595c;">
                <!--#55595c -->
                <audio class="audio-player" src="data\1.wav" controls="controls"></audio>
                <!-- 评分按钮 -->
                <div class="form-group">
                  <!-- 一组评分 -->
                  <div class="btn-group-oneline">
                    <text class="btn-group-label text-white">可懂度</text>
                    <div class="btn-group">
                      <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">1</button>
                      <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">2</button>
                      <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">3</button>
                      <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">4</button>
                      <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">5</button>
                    </div>
                  </div>

                  <div class="btn-group-oneline">
                    <text class="btn-group-label text-white">清晰度</text>
                    <div class="btn-group">
                      <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">1</button>
                      <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">2</button>
                      <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">3</button>
                      <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">4</button>
                      <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">5</button>
                    </div>
                  </div>

                  <div class="btn-group-oneline">
                    <text class="btn-group-label text-white">流畅度</text>
                    <div class="btn-group">
                      <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">1</button>
                      <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">2</button>
                      <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">3</button>
                      <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">4</button>
                      <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">5</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-body">
                <textarea name="" id="" cols="30" rows="3" class="note" placeholder="请简要输入对该语音的评价"></textarea>

                <div class="d-flex justify-content-end align-items-center">
                  <button type="button" class="btn btn-sm btn-outline-secondary">提交</button>
                </div>
              </div>
            </div>
          </div>



          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                  dy=".3em">Thumbnail</text>
              </svg>

              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                  dy=".3em">Thumbnail</text>
              </svg>

              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                  dy=".3em">Thumbnail</text>
              </svg>

              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                  dy=".3em">Thumbnail</text>
              </svg>

              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                  dy=".3em">Thumbnail</text>
              </svg>

              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </main>
  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a
          href="../getting-started/introduction/">getting started guide</a>.</p>
    </div>
  </footer>


  <script src="./index.js"></script>


</body>

</html>