
<main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">主观听测平台</h1>
          <p class="lead text-muted">点击下方语音播放，根据语音质量评分后提交</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  
  
          <div class="col">
            <div class="card shadow-sm" >
              <!-- 上半部分 -->
              <div style="background-color: #55595c;"> <!--#55595c -->
                <audio class="audio-player"  src="data\1.wav" controls="controls"></audio>
                <!-- 评分按钮 -->
                  <div class="form-group">
                    <!-- 一组评分 -->
                    <div class="btn-group-oneline">
                      <text class="btn-group-label text-white">可懂度</text>
                      <div class="btn-group">
                        <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">1</button>
                        <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">2</button>
                        <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">3</button>
                        <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">4</button>
                        <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;" >5</button>
                      </div>
                    </div>
  
                    <div class="btn-group-oneline">
                      <text class="btn-group-label text-white">可懂度</text>
                      <div class="btn-group">
                        <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">1</button>
                        <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">2</button>
                        <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">3</button>
                        <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">4</button>
                        <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">5</button>
                      </div>
                    </div>
  
                    <div class="btn-group-oneline">
                      <text class="btn-group-label text-white">可懂度</text>
                      <div class="btn-group">
                        <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">1</button>
                        <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">2</button>
                        <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">3</button>
                        <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;">4</button>
                        <button type="button" class="btn btn-light btn-outline-dark" style="width: 50px;" >5</button>
                      </div>
                    </div>
                  </div>
                </div>
  
              <div class="card-body">
                <textarea name="" id="" cols="30" rows="3" class="note" placeholder="请简要输入对该语音的评价"></textarea>
  
                <div class="d-flex justify-content-end align-items-center">
                    <button type="button" class="btn btn-sm btn-outline-secondary">提交</button>
                </div>
              </div>
            </div>
          </div>
  
  
  
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  
  </main>