<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人中心</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/dataManage.css" rel="stylesheet">
    <link href="/css/tabler.min.css" rel="stylesheet" />
    <link href="/css/tabler-flags.min.css" rel="stylesheet" />
    <link href="/css/tabler-payments.min.css" rel="stylesheet" />
    <link href="/css/tabler-vendors.min.css" rel="stylesheet" />
    <link href="/css/demo.min.css" rel="stylesheet" />

    <style>
        .top-card {
            border-radius: 3%;
            border-width: 2px;
            border-color: black;
        }

        .top-card-title {
            font-size: 20px;
            color: white;
        }
    </style>
</head>

<body>

    <div class="container">
        <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap" />
                </svg>
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-secondary">主页</a></li>
                <li><a href="/data/dataManage" class="nav-link px-2 link-dark">音频数据</a></li>
            </ul>

            <!-- <div class="col-md-3 text-end">
          <button type="button" class="btn btn-outline-primary me-2"
            onclick="window.location.href='/user/login'">登录</button>
          <button type="button" class="btn btn-primary">登出</button>
        </div> -->

            <% if(useraccount) { %>
                <div class="col-md-3 text-end">
                    <button type="button" class="btn btn-outline-primary me-2"
                        onclick="window.location.href='/user/personalInfo'">个人中心</button>
                    <a class="btn btn-outline-primary me-2" href="/user/logout"
                        onclick="return confirm('确定退出吗?')">退出登录</a>
                </div>
                <% } else{ %>
                    <div class="col-md-3 text-end">
                        <% if(!useraccount) { %>
                            <button type="button" class="btn btn-outline-primary me-2"
                                onclick="window.location.href='/user/login'">登录</button>
                            <button type="button" class="btn btn-outline-primary me-2"
                                onclick="window.location.href='/user/register'">注册</button>
                            <% } %>
                    </div>
                    <% } %>
        </header>
    </div>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">

                <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <svg class="bi me-2" width="30" height="24">
                        <use xlink:href="#bootstrap" />
                    </svg>
                    <span class="fs-5 fw-semibold">数据管理平台</span>
                </a>

                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#home-collapse" aria-expanded="true">
                            数据集
                        </button>
                        <div class="collapse show" id="home-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">竞品A</a></li>
                                <li><a href="#" class="link-dark rounded">Librispeech</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
                </a>


            </nav>

            <!-- 表格展示部分 -->
            <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <!-- 基本数据展示 -->
                <div class="row justify-content-center" style="margin-bottom: 10px;">
                    <!-- 共完成 -->
                    <div class="col-lg-3">
                        <div class="card top-card">
                            <div class="card-header" style="background-color: #55595c; ">
                                <div class="top-card-title">
                                    当前共完成
                                </div>
                            </div>
                            <div class="card-body" style="text-align:center">
                                <span>
                                    <span style="font-size: 40px; color: #008FFB; font-weight: 400;">
                                        1192
                                    </span>
                                    <span style="font-size: 40px; font-weight: 600;">
                                        /
                                    </span>
                                    <span style="font-size: 40px; color: green; font-weight: 600;">
                                        2231
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- 今日已完成 -->
                    <div class="col-lg-3">
                        <div class="card top-card">
                            <div class="card-header" style="background-color: #55595c; ">
                                <div class="top-card-title">
                                    今日已完成
                                </div>
                            </div>
                            <div class="card-body" style="text-align:center">
                                <span>
                                    <span style="font-size: 40px; color: #008FFB; font-weight: 400;">
                                        11
                                    </span>
                                    <span style="font-size: 40px; font-weight: 600;">
                                        条
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 详细信息展示 -->
                <div class="row">
                    <!-- 每日完成情况 -->
                    <div class="col-md-4">
                        <div class="card top-card">
                            <div class="card-body">
                                <div id="chart-completion-tasks-2"></div>
                            </div>
                        </div>
                    </div>

                    <!-- 数据分数分布 -->
                    <div class="col-md-4">
                        <div class="card top-card">
                            <div class="card-body">
                                <div id="chart-data-lianxu-distri"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card top-card">
                            <div class="card-body">
                                <div id="chart-data-qingxi-distri"></div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="container-xl">
                        <div class="card">
                            <div class="card-body">
                                <div id="table-default" class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th><button class="table-sort" data-sort="sort-id">ID</button></th>
                                                <th><button class="table-sort" data-sort="sort-name">文件名</button></th>
                                                <th><button class="table-sort" data-sort="sort-date">创建日期</button></th>
                                                <th><button class="table-sort" data-sort="sort-index1">语言连续度</button>
                                                </th>
                                                <th><button class="table-sort" data-sort="sort-index2">语音清晰度</button>
                                                </th>
                                                <th><button class="table-sort" data-sort="sort-index3">语音失真度</button>
                                                </th>
                                                <th><button class="table-sort" data-sort="sort-index4">背景噪音消除效果</button>
                                                </th>
                                                <th><button class="table-sort" data-sort="sort-index5">回声消除效果</button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-tbody">
                                            <script>
                                                var record_data = [
                                                    {
                                                        "index1": 1,
                                                        "index2": 1,
                                                        "index3": 1,
                                                        "index4": 0,
                                                        "index5": 0,
                                                        "updated_at": "6/9/2022 11:12:22",
                                                        "dataname": "1 copy.wav"
                                                    },
                                                    {
                                                        "index1": 0,
                                                        "index2": 0,
                                                        "index3": 0,
                                                        "index4": 4.5,
                                                        "index5": 0,
                                                        "updated_at": "6/9/2022 15:26:43",
                                                        "dataname": "1 copy 3.wav"
                                                    }
                                                ]
                                                var list_str = '';
                                                var index = 1;

                                                record_data.forEach(item => {
                                                    var update_data_str = item.updated_at
                                                    var day = update_data_str.split("/")[0]
                                                    var month = update_data_str.split("/")[1]
                                                    var year = update_data_str.split("/")[2].split(" ")[0]
                                                    var time = update_data_str.split("/")[2].split(" ")[1]
                                                    // console.log(day, month, year)
                                                    var date_str = year + '-' + month + '-' + day + ' ' + time
                                                    // console.log(date_str)
                                                    var date = new Date(date_str)
                                                    var timestamp = Date.parse(date)
                                                    // console.log(timestamp)
                                                    list_str += `
                                                    <tr>
                                                        <td class="sort-id">${index}</td>
                                                        <td class="sort-name">${item.dataname}</td>
                                                        <td class="sort-date" data-date=${timestamp}">${item.updated_at}</td>
                                                        <td class="sort-index1">${item.index1}</td>
                                                        <td class="sort-index2">${item.index2}</td>
                                                        <td class="sort-index3">${item.index3}</td>
                                                        <td class="sort-index4">${item.index4}</td>
                                                        <td class="sort-index5">${item.index5}</td>
                                                    </tr>
                                                     `
                                                    index += 1
                                                })
                                                document.write(list_str)
                                            </script>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Libs JS -->
    <script src="/js/apexcharts.min.js"></script>
    <script src="/js/list.min.js" defer></script>

    <!-- Own Js -->
    <script src="/js/dataManage.js"></script>


    <!-- Tabler Core -->
    <script src="/js/tabler.min.js" defer></script>
    <script src="/js/demo.min.js" defer></script>

    <script>
        // @formatter:off
        document.addEventListener("DOMContentLoaded", function () {
            window.ApexCharts && (new ApexCharts(document.getElementById('chart-completion-tasks-2'), {
                title: {
                    text: "每日完成情况",
                    align: 'center',
                    margin: 10
                },
                chart: {
                    type: "line",
                    fontFamily: 'inherit',
                    height: 240,
                    parentHeightOffset: 0,
                    toolbar: {
                        show: false,
                    },
                    // animations: {
                    //     enabled: false
                    // },
                },
                fill: {
                    opacity: 1,
                },
                stroke: {
                    width: 2,
                    lineCap: "round",
                    curve: "smooth",
                },
                series: [{
                    name: "完成条数",
                    data: [23, 2, 33, 12, 24, 5, 1]
                }],
                grid: {
                    padding: {
                        top: -20,
                        right: 0,
                        left: -4,
                        bottom: -4
                    },
                    strokeDashArray: 4,
                },
                xaxis: {
                    labels: {
                        padding: 0,
                    },
                    tooltip: {
                        enabled: false
                    },
                    type: 'datetime',
                },
                yaxis: {
                    labels: {
                        padding: 4
                    },
                },
                labels: [
                    '2022-09-01', '2022-09-02', '2022-09-03', '2022-09-04', '2022-09-05', '2022-09-06', '2022-09-07'
                ],
                // colors: [tabler.getColor("primary")],
                legend: {
                    show: false,
                },
            })).render();
        });
        // @formatter:on
    </script>

    <script>
        // @formatter:off
        document.addEventListener("DOMContentLoaded", function () {
            window.ApexCharts && (new ApexCharts(document.getElementById('chart-data-lianxu-distri'), {
                title: {
                    text: "语言连续度评分分布情况",
                    align: 'center',
                    margin: 10
                },
                chart: {
                    type: "bar",
                    fontFamily: 'inherit',
                    height: 240,
                    parentHeightOffset: 0,
                    toolbar: {
                        show: false,
                    },
                    // animations: {
                    //     enabled: false
                    // },
                },
                plotOptions: {
                    bar: {
                        columnWidth: '50%',
                    }
                },
                dataLabels: {
                    enabled: false,
                },
                fill: {
                    opacity: 1,
                },
                series: [{
                    name: "数量",
                    data: [155, 65, 465, 265, 225, 325, 80, 122]
                }],
                grid: {
                    padding: {
                        top: -20,
                        right: 0,
                        left: -4,
                        bottom: -4
                    },
                    strokeDashArray: 4,
                },
                xaxis: {
                    labels: {
                        padding: 0,
                    },
                    tooltip: {
                        enabled: false
                    },
                    axisBorder: {
                        show: false,
                    },
                },
                yaxis: {
                    labels: {
                        padding: 4
                    },
                },
                labels: [
                    '1~1.5', '1.51~2', '2~2.5', '2.51~3', '3.01~3.5', '3.51~4', '4.01~4.5', '4.51~5', 
                ],
                // colors: [tabler.getColor("primary")],
                legend: {
                    show: false,
                },
            })).render();
        });
    // @formatter:on
    </script>

<script>
    // @formatter:off
    document.addEventListener("DOMContentLoaded", function () {
        window.ApexCharts && (new ApexCharts(document.getElementById('chart-data-qingxi-distri'), {
            title: {
                text: "语言连续度评分分布情况",
                align: 'center',
                margin: 10
            },
            chart: {
                type: "bar",
                fontFamily: 'inherit',
                height: 240,
                parentHeightOffset: 0,
                toolbar: {
                    show: false,
                },
                // animations: {
                //     enabled: false
                // },
            },
            plotOptions: {
                bar: {
                    columnWidth: '50%',
                }
            },
            dataLabels: {
                enabled: false,
            },
            fill: {
                opacity: 1,
            },
            series: [{
                name: "数量",
                data: [155, 65, 465, 265, 225, 325, 80, 122]
            }],
            grid: {
                padding: {
                    top: -20,
                    right: 0,
                    left: -4,
                    bottom: -4
                },
                strokeDashArray: 4,
            },
            xaxis: {
                labels: {
                    padding: 0,
                },
                tooltip: {
                    enabled: false
                },
                axisBorder: {
                    show: false,
                },
            },
            yaxis: {
                labels: {
                    padding: 4
                },
            },
            labels: [
                '1~1.5', '1.51~2', '2~2.5', '2.51~3', '3.01~3.5', '3.51~4', '4.01~4.5', '4.51~5', 
            ],
            // colors: [tabler.getColor("primary")],
            legend: {
                show: false,
            },
        })).render();
    });
// @formatter:on
</script>


    <script>
        // @formatter:off
        document.addEventListener("DOMContentLoaded", function () {
            window.ApexCharts && (new ApexCharts(document.getElementById('chart-completion-tasks'), {
                chart: {
                    type: "bar",
                    fontFamily: 'inherit',
                    height: 240,
                    parentHeightOffset: 0,
                    toolbar: {
                        show: false,
                    },
                    animations: {
                        enabled: false
                    },
                },
                plotOptions: {
                    bar: {
                        columnWidth: '50%',
                    }
                },
                dataLabels: {
                    enabled: false,
                },
                fill: {
                    opacity: 1,
                },
                series: [{
                    name: "Tasks completion",
                    data: [155, 65, 465, 265, 225, 325, 80]
                }],
                grid: {
                    padding: {
                        top: -20,
                        right: 0,
                        left: -4,
                        bottom: -4
                    },
                    strokeDashArray: 4,
                },
                xaxis: {
                    labels: {
                        padding: 0,
                    },
                    tooltip: {
                        enabled: false
                    },
                    axisBorder: {
                        show: false,
                    },
                    type: 'datetime',
                },
                yaxis: {
                    labels: {
                        padding: 4
                    },
                },
                labels: [
                    '2020-06-20', '2020-06-21', '2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-26'
                ],
                // colors: [tabler.getColor("primary")],
                legend: {
                    show: false,
                },
            })).render();
        });
    // @formatter:on
    </script>

    <!-- 表格排序 -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const list = new List('table-default', {
                sortClass: 'table-sort',
                listClass: 'table-tbody',
                valueNames: ['sort-id', 'sort-name', 'sort-index1', 'sort-index2', 'sort-index3', 'sort-index4', 'sort-index5',
                    { attr: 'data-date', name: 'sort-date' },
                ]
            });
        })
    </script>
</body>

</html>