<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>用户注册</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">



    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">

    <main class="form-signin">
        <form method="post" action="/user/register">

            <h1 class="h3 mb-3 fw-normal">请注册</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="userName" name="useraccount" placeholder="用户名">
                <label for="userName">用户名</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="password" name='password' placeholder="密码">
                <label for="password">密码</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="checkPassword" name="confirmPassword"
                    placeholder="确认密码">
                <label for="checkPassword">确认密码</label>
            </div>

            <span class="form-text">
                已有账号？点击此处<a href="/user/login">登录</a>
            </span>

            <button class="w-100 btn btn-lg btn-primary" type="submit">注册</button>

        </form>

</body>

</html>